<?xml version="1.0"?>

<model>
  <name>hoverboard_wheel</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>harnas</name>
    <email>harnas@gmail.com</email>
  </author>

  <author>
    <name>harnas</name>
  </author>

  <description>
    A hoverboard wheel.
  </description>
</model>
