# ROS 2 colcon artifacts
build/
install/
log/
rosbag/

# Python bytecode
**/__pycache__/
**/*.pyc
**/*.pyo
**/*.pyd

# CMake / build cache
**/CMakeCache.txt
**/CMakeFiles/
**/cmake_install.cmake
**/Makefile

# VSCode settings
.vscode/
