version: "3.9"

x-common: &common
  image: boxygo/dev:latest
  env_file: ../.env
  network_mode: host
  environment:
    - DISPLAY=${DISPLAY}
    - QT_X11_NO_MITSHM=1
  volumes:
    - /tmp/.X11-unix:/tmp/.X11-unix:rw
    - ../src:/BoxyGo/src:rw
    - ../overlays:/BoxyGo/overlays:rw
    - ../bags:/bags:rw 
services:
  dev:
    <<: *common
    command: ["/bin/bash"]
