version: "3.9"

x-common: &common
  image: boxygo/base:latest
  env_file: ../.env
  network_mode: host
  volumes:
    - ../overlays:/BoxyGo/overlays:ro
    - ../bags:/bags:rw
  runtime: nvidia
  deploy:
    resources:
      reservations:
        devices: [ { capabilities: [gpu] } ]

services:
  runtime:
    <<: *common
    command: ["/bin/bash"]
