ekf_filter_node:
  ros__parameters:
    frequency: 30.0     
    debug: true
    #debug_out_file: /tmp/ekf_debug1.txt          # Jak często działa filtr (Hz)
    sensor_timeout: 0.5         # Jak długo czeka na dane z sensora (sekundy)
    two_d_mode: true    
    publish_tf: true              # Publikuje transformację odom → base_link

    map_frame: map                # Używane tylko gdy jest drugi EKF (globalny)
    odom_frame: odom              # Ramka lokalna (bazowa)
    base_link_frame: base_link    # Ramka robota
    world_frame: odom             # Dla tego EKF odom = world

    odom0: diff_cont/odom
    odom0_differential: false
    odom0_relative: true
    odom0_config: [false, false, false,
                   false, false, false,
                   true, false, false,
                   false, false, false,
                   false, false, false]

    pose0: /visual_slam/tracking/vo_pose_covariance
    pose0_config: [false, false, false,
                   false, false, true,
                   true, true, false,
                   false, false, true,
                   false, false, false]

    pose0_differential: true
    pose0_relative: false
    pose0_queue_size: 10
    pose0_rejection_threshold: 2.0

    imu0: camera/imu
    imu0_differential: false
    imu0_relative: false
    imu0_remove_gravitational_acceleration: true
    # Only fuse yaw and wz from IMU in 2D
    imu0_config:  [false, false, false,           # X,      Y,    Z #
                   false, false, true,           # ROLL, PITCH, YAW #
                   false, false, false,          # vX,     vY,   vZ #
                   false, false, false,          # vROLL, vPITCH, vYAW #
                   false,  false, false]          # aX,     aY,   aZ #

    print_diagnostics: false       # Przydatne przy debugowaniua
    