<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:macro name="sensor_ydlidar" params="parent_link x_offset y_offset z_offset">
    
    <joint name="laser_joint" type="fixed">
      <parent link="${parent_link}"/>
      <child link="laser_frame"/>
      <origin xyz="${x_offset} ${y_offset} ${z_offset}" rpy="0 0 0"/> <!-- 3.173 -->
    </joint>

    <link name="laser_frame">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <cylinder radius="0.035" length="0.04"/>
        </geometry>
        <material name="black"/>
      </visual>

      <collision>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <cylinder radius="0.035" length="0.04"/>
        </geometry>
      </collision>

      <inertial>
        <mass value="0.2"/>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <inertia ixx="0.0001" ixy="0" ixz="0" iyy="0.0001" iyz="0" izz="0.0001"/>
      </inertial>
    </link>

    <gazebo reference="laser_frame">
      <sensor name="lidar" type="ray">
        <always_on>true</always_on>
        <visualize>false</visualize> <update_rate>8</update_rate>
        <ray>
          <scan>
            <horizontal>
              <samples>560</samples>
              <resolution>1</resolution>
              <min_angle>-3.14</min_angle>
              <max_angle>3.14</max_angle>
            </horizontal>
          </scan>
          <range>
            <min>0.08</min>
            <max>12.0</max>
            <resolution>0.0017</resolution>
          </range>
          <noise>
            <type>gaussian</type>
            <mean>0.0</mean>
            <stddev>0.01</stddev>
          </noise>
        </ray>
        <plugin name="scan" filename="libgazebo_ros_ray_sensor.so">
          <ros>
            <remapping>~/out:=/scan</remapping>
          </ros>
          <output_type>sensor_msgs/LaserScan</output_type>
          <frame_name>laser_frame</frame_name>
        </plugin>
      </sensor>
      
      <material>Gazebo/Black</material>
    </gazebo>

  </xacro:macro>
</robot>